/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import "http://fonts.fontstorage.com/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
	*/


// Constants

@h1-fo-si:20px;
@inp-fo-si:16px;
@btn-fo-si:14px;
@btn-color: #4cb5ab;
@inp-line-active: green;
@inp-line:rgba(0,0,0,0.12);
@bg-sc2:rgba(0,0,0,0.54);


// First
body{

	font-family: 'Roboto';
	.first-screen{
		background: #fff;
		padding: 0 5%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		h1{
			margin-bottom: 20px;
			text-align: center;
			font-weight: 500;
			font-size: @h1-fo-si;
			align-self: flex-end;
			width: 100%;

		}

		form{
			margin: 0 auto;
			align-self: flex-start;
			#user-price,#user-distance{
				margin-bottom: 15px;
				font-size:@inp-fo-si;
				background:none;
				border-radius: 0;
				border:none;
				border-bottom: 2px solid @inp-line;
				outline: none;
				&:focus{
					border:none;
					border-bottom: 2px solid @inp-line-active;
					outline: none;
				}
			}

			#Go-btn{
				background:none;
				border-radius: 0;
				border:none;
				color:@btn-color;
				font-size:@btn-fo-si;
				&:focus{
					outline:none;
				}
			}

			input{
				width: 100%;
			}
		}

	}

	// Second 
	.second-screen{
		padding: 0 5%;

		.TopLine{			
			padding: 15px 0;
			margin: 0 -5%;
			box-shadow: 0 4px 4px @inp-line;

				svg{
					width: 16px;
					height: 16px;
					margin-left: 5%;
				}
		}

		ul{
			margin: 0;
			padding: 0;

			li{
				list-style: none;
				margin-top: 10px;
				padding: 10px 0;


				.box{
					display:flex;
					justify-content: space-between;
					align-items:center;
					
					.Name{
						font-weight:500;
						font-size:@inp-fo-si;
						line-height: 22px;

					}
					.Price{
						color:@bg-sc2;
						font-size:@inp-fo-si;
						line-height: 22px;

					}
				}

				.Distance{
					font-weight:500;
					color:@bg-sc2;
					font-size:@btn-fo-si;
				}

			}
		}
	}
}
